* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    scrollbar-width: none;
}










body {
    background-size: 200% 200%;
}



h1 {
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 3vw;
}

h2 {
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100;
    font-size: 3vw;
}

h3 {
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 2.5vw;
}










header {
    background-color: rgba(0, 20, 40, 0);
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}



#menu {
    font-size: 1vw;
    list-style-type: none;
    overflow: hidden;
    font-weight: 500;
    transition: linear 100ms;
    display: flex;
    align-items: center;
}

#menu.scrolled {
    background-color: black;
    transition: ease-in-out 200ms;
}



#menu li {
    height: 8vh;
    padding: 0.2vh 4vw 0 4vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}



#menu .rightli {
    margin-left: auto;
    margin-right: 0;
}



#menu .biggerli {
    padding: 0 8vw;
}



#menu li a {
    border: none;
    text-align: center;
}



#menu .biggerli a {
    text-decoration: none;
    font-size: 1.5vw;
}





#licv {
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}



#licv a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: ease-in-out 200ms;
}

#licv a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1vw;
    transition: ease-in-out 200ms;
}



#licv:hover a {
    padding-right: 1vw;
}

#licv:hover a:after {
    opacity: 1;
    right: 0;
}



a .line {
    background-color: white;
    height: 0.2vh;
    margin-left: 50%;
    margin-right: 50%;
    transition: ease-in-out 0.2s;
}

li:hover a .line {
    margin-left: 0%;
    margin-right: 0%;
}
















#welcome {
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    height: 100vh;
    background-size: 200% 200%;
}



#welcome h1 {
    border-right: 3px solid white;
}

#welcome h2 {
    border-right: 3px solid white;
}



.textbox {
    padding: 5vw;
}

#presentation {
    height: 80vh;
}

#presentation div {
    height: 100%;
    width: 100%;
    align-content: center;
}



#typing-text-1 {
    width: 0;
    animation: typing-1 0.8s steps(20) 1s forwards, blink 0.75s step-end infinite;
}
@keyframes typing-1 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#typing-text-2 {
    width: 0;
    animation: typing-2 0.32s steps(8) 1.8s forwards, blink 0.75s step-end infinite;
}
@keyframes typing-2 {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}

#typing-text-3 {
    width: 0;
    animation: typing-3 0.8s steps(20) 2.12s forwards, blink 0.75s step-end infinite;
}
@keyframes typing-3 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: transparent;
    }
}

.no-blink {
    border-right: none !important;
}









#presentation {
    font-size: 1vw;
    list-style-type: none;
    overflow: hidden;
    font-weight: 500;
    transition: linear 100ms;
    display: flex;
    align-items: center;
}



#photo {
    width: 50%;
    height: 100%;
    align-content: center;
    text-align: center;
}



#photo img {
    height: 70%;
    border-radius: 50%;
}





#tech_skills {
    padding: 5vw;
    color: white;
    height: 50vh;
}

#tech_skills h3 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    text-align: center;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 1.5vw;
}

.skill-name {
    flex: 3;
    font-size: 1.2vw;
}

.progress-bar-container {
    flex: 15;
    background-color: #444444;
    border-radius: 1vh;
    height: 2vh;
    overflow: hidden;
    margin: 0 1vw;
}

.progress-bar {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.percentage {
    flex: 2;
    font-size: 1vw;
    text-align: right;
}





#soft_skills {
    padding: 5vw;
    color: white;
    text-align: left;
}

#soft_skills h3 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.soft-skill {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.soft-skill.visible {
    opacity: 1;
    transform: translateY(0);
}


.soft-skill:nth-child(1) { animation-delay: 0s; }
.soft-skill:nth-child(2) { animation-delay: 0.2s; }
.soft-skill:nth-child(3) { animation-delay: 0.4s; }
.soft-skill:nth-child(4) { animation-delay: 0.6s; }

.icon {
    flex: 1;
    font-size: 2vw;
}

.soft-skill p {
    flex: 19;
    font-size: 1.2vw;
    line-height: 1.5;
    margin: 0;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





#experiences {
    padding: 5vw;
    color: white;
    text-align: center;
}

#experiences h3 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.button {
    display: inline-block;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #00aaff;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    transition: transform 0.2s ease-out;
}

.button:hover {
    transform: translateY(-0.2vh);
}

.button:hover::before {
    left: 110%;
    transition: left 0.5s ease-in-out;
}





#education {
    padding: 5vw;
    color: white;
}

#education h3 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
}

.education-item {
    padding: 1.5vw 2vw;
}

.education-item h4 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
    color: #00aaff;
}

.education-item p {
    font-size: 1.2vw;
    line-height: 1.6;
    margin: 0.5vw 0;
}

.education-item em {
    color: #a0a0a0;
    font-size: 1vw;
}






#languages {
    padding: 5vw;
    color: white;
    text-align: center;
}

#languages h3 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.language-poster {
    height: 16vh;
    display: inline-block;
    width: 20%;
    margin: 1vw;
    border-radius: 10px;
    padding: 1.5vw;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.language-poster {
    height: 16vh;
    display: inline-block;
    width: 20%;
    margin: 1vw;
    border-radius: 10px;
    padding: 1.5vw;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: left 0.5s ease-in-out;
}

.language-poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    transition: transform 0.2s ease-out;
}

.language-poster:hover::before {
    left: 110%;
    transition: left 0.5s ease-in-out;
}

.header-bar {
    height: 1vw;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.france {
    background: linear-gradient(to right, #002654 33.33%, #fefefe 33.33%, #fefefe 66.66%, #ed2938 66.66%);
}

.uk {
    background: linear-gradient(to right, white 43.75%, #e03323 43.75%, #e03323 56.25%, white 56.25%);
}

.germany {
    background: linear-gradient(to right, black 33.33%, #dd0000 33.33%, #dd0000 66.66%, #ffce00 66.66%);
}

.italy {
    background: linear-gradient(to right, #009246 33.33%, white 33.33%, white 66.66%, #ce2b37 66.66%);
}

.japan {
    background-color: white;
    overflow: hidden;
}
.japan::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12vh;
    height: 12vh;
    background-color: #bc002d;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


.language-header {
    font-size: 1.5vw;
    color: #00bcd4;
    font-weight: bold;
    margin-top: 2vw;
}

.language-map {
    display: block;
    width: 80%;
    margin: 5vw auto 1vw auto;
    border-radius: 5px;
    border: 2px solid #00bcd4;
}

.language-level {
    text-align: center;
    font-size: 1.2vw;
    margin-top: 1vw;
    color: #a0a0a0;
}

.certification {
    text-align: center;
    margin: 1vh;
    font-size: 0.8vw;
}
.certification em {
    color: #a0a0a0;
}





#interests {
    padding-top: 5vw;
    padding-bottom: 5vw;
    color: white;
    text-align: center;
}

#interests h3 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 16vw;
    gap: 0.2vw;
}

.grid-item {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.5vw;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
    opacity: 1;
}


#item-1 {
    background-image: url('src/code.png');
    background-color: #444444;
    grid-row: span 2;
}

#item-2 {
    background-image: url('src/code.png');
    background-color: #444444;
    grid-column: span 2;
}

#item-3 {
    background-image: url('src/code.png');
    background-color: #444444;
}

#item-4 {
    background-image: url('src/running.png');
    background-color: #444444;
    grid-row: span 2;
}

#item-5 {
    background-image: url('src/video_games.png');
    background-color: #444444;
    grid-row: span 3;
}

#item-6 {
    background-image: url('src/code.png');
    background-color: #444444;
}

#item-7 {
    background-image: url('src/code.png');
    background-color: #444444;
    grid-column: span 2;
}

#item-8 {
    background-image: url('src/code.png');
    background-color: #444444;
    grid-column: span 2;
}

#item-9 {
    background-image: url('src/code.png');
    background-color: #444444;
}

#item-10 {
    background-image: url('src/code.png');
    background-color: #444444;
    grid-column: span 2;
}












footer {
    background-color: #111;
    height: 20vh;
}